<window #window title="Angular native app!">
  <view id="app">
    <image id="image" [src]="'./src/assets/angular.png'" [aspectRatioMode]="aspectRatioMode"></image>

    <app-hello [name]="name"></app-hello>

    <text>Github username</text>
    <linedit [text]="name" [placeholderText]="'Insert github username'" (textChanged)="onTextChanged($event)"></linedit>

    <button (clicked)="goToPage('/')">
      first page
    </button>
    <button (clicked)="goToPage('/home')">
      home page
    </button>
    <button (clicked)="goToPage('/about')">
      about page
    </button>

    <router-outlet></router-outlet>
  </view>
</window>
