<window #window title="Angular native app!">
  <view id="app">
    <image id="image" [src]="'./src/assets/angular.png'" [aspectRatioMode]="aspectRatioMode"></image>

    <!-- <app-hello [name]="name"></app-hello> -->

    <text>Github username</text>
    <linedit [text]="name" [placeholderText]="'Insert github username'" (textChanged)="textChanged($event)"></linedit>

    <button (clicked)="setRoute()">
      to home route
    </button>
    <!-- <checkbox [checked]="true"></checkbox>
    <checkbox [checked]="true" [enabled]="false"></checkbox>

    <button [style.background-color]="'green'" (clicked)="setName()">
      Green button
    </button>

    <progressbar [value]="40" [minimum]="0" [maximum]="100"></progressbar>
    <spinbox
      [prefix]="'aa'"
      [suffix]="'bb'"
      [singleStep]="10"
      [range]="{ minimum: 0, maximum: 50 }"
      [value]="20"
    >
    </spinbox> -->
    <router-outlet></router-outlet>
  </view>
</window>
